@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.Home {
    background-color: #1a237e;
    font-family: "Roboto Condensed", sans-serif;
    color: #e0e0e0;
    
} 

